//variáveis de font\\
$fonte-principal: 'Gruppo', cursive;
$fonte-secundaria: 'Satisfy', cursive;

//variáveis de cores\\
$cor-primaria: #E5D9B6;
$cor-secundaria: #285430;
$cor-terciaria: #F97B22;
$cor-quaternaria: #ECA869;